@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu:wght@300&display=swap');
.header {
    margin: -45px 0px 0px 800px;
    color: #fff;
}
.titlle {
    margin: 0px 0px 10px 70px;
    color: #fff;
}
.titlle:hover {
    color: #01813F;
}
.titlle-1 {
    background: #000;
    font-size: 20px;
    opacity: 0.7;
    padding: 15px 0px 30px 0px;
    width: 1365px;
    font-family: 'Ubuntu';
}
body {
    margin: 0;
}
.sign-up {
    background-color: #fff;
    margin: 25px 620px 0px 460px;
    padding: 0px;
    display: flex;
    color: #434343;
    height: 600px;
    width: 446px;
    font-family: 'Ubuntu';
}
.box {
    padding: 0px 0px 0px 0px;
}
.log-in {
    text-align: center;
    font-size: 14px;
    margin: 25px 0px 0px 200px;
    color: #3CB878;
}
.facebook {
    border: 1px solid #305DB8;
    border-radius: 4px;
    position: absolute;
    margin: 70px 0px 0px 67px;
    padding: 10px;
    background-color: #305DB8;
    color: #fff;
}
.google {
    border: 1px solid #DF4A32;
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    background-color: #DF4A32;
    margin: 70px 0px 0px 250px;
}
fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    position: absolute;
    margin: 150px 0px 0px 203px;
    color: #848484;
}
.name {
    position: absolute;
    margin: 180px 0px 0px 67px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
input {
    width: 313px;
    height: 44.08px;
}
.last-name {
    position: absolute;
    margin: 240px 0px 0px 67px;
    border-radius: 4px;
}
.email {
    position: absolute;
    margin: 303px 0px 0px 67px;
    border-radius: 4px;
}
.password {
        position: absolute;
        margin: 366px 0px 0px 67px;
        border-radius: 4px;
}
.password-1 {
    position: absolute;
    margin: 428px 0px 0px 67px;
    border-radius: 4px;
}
.checkbox {
    position: absolute;
    margin: 475px 0px 0px 63px;
}
.create {
    position: absolute;
    text-decoration: none;
    margin: 520px 0px 0px 69px;
    border: 1px solid #3CB878CC;
    padding: 15px 105px 15px 103px;
    background-color: #3CB878;
        border-radius: 5px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.agree {
    position: absolute;
    margin: 490px 0px 0px 95px;

}
.facebook:hover{
    background-color: #022263;
}
.google:hover {
    background-color: #AB1F09;
}
.log-in:hover {
    color: #01813F;
    text-decoration: underline;
}
.create:hover {
    background-color: #01813F;
}
.terms:hover {
         color: #01813F;
        text-decoration: underline;
}
.log-in-mini {
    font-size: 20px;
}
.log-in-mini:hover {
    color: #01813F;
}
.sign-up-mini {
    font-size: 20px;
}
.sign-up-mini:hover {
    color: #01813F;
}
.mini-calendar:hover {
    fill: #01813F;
}